---
layout: page
title: Projects
---
<section class="list">
    <!-- {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %} -->
<img src="/assets/2hr_header_img.png">
<h3><a href="https://github.com/pgnatividad/Portfolio/tree/master/2hr_Project">2hr Project</a></h3>
<p>
  In this project I was given 3 sets of data related to traffic tickets: A dataframe with statistics of each ticket, a dataframe that shows what ward the ticket is from, and a dataframe that shows the price of the ticket and its status. I had to figure out what the <b>mean</b> ticket amount is for men and women. Determine if there is a difference between ticket prices between men and women. Analyze the ticket values between officers and determine if any tend to give larger tickets. Analyze the ticket values between wards and see if any give larger tickets. A model then had to be created to predict ticket classes. I also needed to create a <b>presentation</b> and a <b>report</b> for the project. This project had a <b>total time limit</b> of <b>2 hours</b>
</p>




<hr>

<img src="/assets/thunder_words.png" alt='testing'>
<h3><a href="https://github.com/pgnatividad/Portfolio/tree/master/sport_subreddit_classification_project">Subreddit Classification Project</a></h3>
<p>
  In this Project I created a <b>logistic regression</b> model that determined if a post is from the Chicago Bulls Subreddit or the OKC Thunder Subreddit. Click the link for more details and Code!
</p>
<p>
  I decided I wanted to <b>scrape data from reddit</b> from the last 3 years, so I considered posts from the time frame 3-2 years ago, 2-1 years ago, and 1 year ago to now. I grabbed 10,000 posts per time frame per subreddit. From those 10,000 I used a filter to get posts with atleast 1 comment, atleast 4 comments, and atleast 10 comments. I used comments as a proxy to measure quality, as in if a post had more comments it would be more representative of the subreddit since it promoted discussion. I did not filter by score since I wanted to get posts representative of the sub, good or bad.
</p>
<p>
  With these sets of data, I plugged them into multiple models grid searching what parameters per model will work the best. I tried <b>Logistic Regression, Binomial Naive Bayes, Multinomial Naive Bayes, and Random Forest</b>The model I chose was a Logistic Regression with the 4 comment data set.
</p>
<p>
  With a <b>Logistic Regression</b> model I was able to determine which words would be best indicators for either subreddit.
</p>
  <table>
    <tr>
      <th>Metrics</th>
      <th>Values</th>
    </tr>
    <tr>
      <td>Training Accuracy</td>
      <td>95.501%</td>
    </tr>
    <tr>
      <td>Test Accuracy</td>
      <td>92.175%</td>
    </tr>
    <tr>
      <td>Sensitivity</td>
      <td>0.952</td>
    </tr>
    <tr>
      <td>Specificity</td>
      <td>0.889</td>
    </tr>
    <tr>
      <td>ROC AUC Score</td>
      <td>0.978</td>
    </tr>
  </table>
</p>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<marquee> marquee is fun weeeee </marquee>






</section>
