---
layout: page
title: Projects
---
<section class="list">
    <!-- {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %} -->
<img src="../Portfolio/sport_subreddit_classification_project/images/thunder_words.png">
<h3>Subreddit Classification Project</h3>
<p>
  In this Project I created a <b>logistic regression</b> model that determined if a post is from the Chicago Bulls Subreddit or the OKC Thunder Subreddit.
  <table>
    <tr>
      <th>Metrics</th>
      <th>Values</th>
    </tr>
    <tr>
      <th>Training Accuracy</th>
      <th>95.501%</th>
    </tr>
    <tr>
      <th>Test Accuracy</th>
      <th>92.175%</th>
    </tr>
    <tr>
      <th>Sensitivity</th>
      <th>0.952</th>
    </tr>
    <tr>
      <th>Specificity</th>
      <th>0.889</th>
    </tr>
    <tr>
      <th>ROC AUC Score</th>
      <th>0.978</th>
    </tr>
  </table>
</p>





<marquee> weeeee </marquee>






</section>
